POC_UnitTest/Service References/ProductServiceReference/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9420/ProductService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9420/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9420/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/POC_Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_findAll_InputMessage">
    <wsdl:part name="parameters" element="tns:findAll" />
  </wsdl:message>
  <wsdl:message name="IProductService_findAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_findAllPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:findAllPaged" />
  </wsdl:message>
  <wsdl:message name="IProductService_findAllPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_findById_InputMessage">
    <wsdl:part name="parameters" element="tns:findById" />
  </wsdl:message>
  <wsdl:message name="IProductService_findById_OutputMessage">
    <wsdl:part name="parameters" element="tns:findByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_findByCreationDate_InputMessage">
    <wsdl:part name="parameters" element="tns:findByCreationDate" />
  </wsdl:message>
  <wsdl:message name="IProductService_findByCreationDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:findByCreationDateResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_create_InputMessage">
    <wsdl:part name="parameters" element="tns:create" />
  </wsdl:message>
  <wsdl:message name="IProductService_create_OutputMessage">
    <wsdl:part name="parameters" element="tns:createResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_update_InputMessage">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="IProductService_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IProductService_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="findAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/findAll" message="tns:IProductService_findAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/findAllResponse" message="tns:IProductService_findAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findAllPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/findAllPaged" message="tns:IProductService_findAllPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/findAllPagedResponse" message="tns:IProductService_findAllPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/findById" message="tns:IProductService_findById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/findByIdResponse" message="tns:IProductService_findById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findByCreationDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/findByCreationDate" message="tns:IProductService_findByCreationDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/findByCreationDateResponse" message="tns:IProductService_findByCreationDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/create" message="tns:IProductService_create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/createResponse" message="tns:IProductService_create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/update" message="tns:IProductService_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/updateResponse" message="tns:IProductService_update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/delete" message="tns:IProductService_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/deleteResponse" message="tns:IProductService_delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findAll">
      <soap:operation soapAction="http://tempuri.org/IProductService/findAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllPaged">
      <soap:operation soapAction="http://tempuri.org/IProductService/findAllPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findById">
      <soap:operation soapAction="http://tempuri.org/IProductService/findById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByCreationDate">
      <soap:operation soapAction="http://tempuri.org/IProductService/findByCreationDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://tempuri.org/IProductService/create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/IProductService/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IProductService/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://localhost:9420/ProductService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>